<h2>Tell me a bit about yourself...</h2>

<div class="container">

<%= form_for @person do |f| %>
    <%= f.label :name, "What's your name?" %>
    <%= f.text_field :name, placeholder: "Pietje Precies" %><br />
      <p></p>
    <%= f.label :height, "What is your height?" %>
    <%= f.text_field :height, placeholder: "1.75 m" %>m<br />
      <p></p>
    <%= f.submit "That's all", class: 'btn btn-warning' %>
<% end %>
  <%= link_to "I don't want this", people_path, {class: 'btn btn-default'} %>
</div>