<div class="jumbotron">
    <h1>Hello <%= current_user.name %>!</h1>
  <p></p><%= current_user.measurements.latest.weight %> kg </p>
    <!--<h1>Hello <%= current_user.name %>!</h1> -->
        <div class="container">
          <div class="row" ></div>
            <div class="col-md-4"></div>
          <h2>Hello <%= current_user.name %>!</h2>
          <h4> Your BMI is:</h4>

                <div class="well">
                    <% if current_measurement.bmi_calc < 20 || current_measurement.bmi_calc > 25 %>
                        <h3 class="bg-danger"><%= current_measurement.bmi_calc %></h3>
                    <% else %>
                        <h3 class="bg-success"><%= current_measurement.bmi_calc %></h3>
                    <% end %>
                </div> <!-- well -->
        </div>
  </div>
            <div class="col-md-3">
                <p>Is this a good or a bad thing?</p>
                <p class="bg-success">Green is a healthy bmi, </p> <p class="bg-danger"> Red is an unhealthy bmi </p>
                </p>
            </div>
<div class="col-md-6">
<%= link_to "Add your weight here", new_person_measurement_path(current_user.id), class: 'btn btn-warning' %>
</div>

    <div class="container">
            <div class="row">
              <div class="col-md-4">
              </div>
              <div class="col-md-6">

  <%= render 'layouts/measurementstable' %>
               </div>
              </div>
            </div>
</div>
  <hr>
