<div class="jumbotron">
  <div class="container">
    <div class="row" ></div>
    <div class="col-md-4"></div>
        <h2>Hello <%= current_user.name %>!</h2>
            <% if user_measurements.any? %>
                <p>Your weight is <%= latest_measurement.weight %> kg </p>

        <p> Your BMI is</p>
    <div class="col-md-4"></div>
            <div class="well col-md-4 col-md-4">
                    <% if latest_measurement.bmi_calc < 20 || latest_measurement.bmi_calc > 25 %>
                        <h3 class="bg-danger"><%= latest_measurement.bmi_calc %></h3>
                    <% else %>
                        <h3 class="bg-success"><%= latest_measurement.bmi_calc %></h3>
                    <% end %>
              <% end %>
            </div> <!-- well -->
  </div>
</div> <!-- row -->
    <div class="col-md-4">
      <p>Is this a good or a bad thing?</p>
      <p class="bg-success">Green is a healthy bmi, </p> <p class="bg-danger"> Red is an unhealthy bmi </p>
    </div>
    <div class="col-md-4">
        <%= link_to "Add your weight here", new_person_measurement_path(current_user.id), class: 'btn btn-warning' %>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-4"></div>
            <div class="col-md-6">
              <%= render 'layouts/measurementstable' %>
            </div>
      </div>
    </div>
  <hr>
