<h1>Measurements#new</h1>
<p>Find me in app/views/measurements/new.html.erb</p>


<%= form_for @measurement do |f| %>
    <%= f.label :date %>
    <%= f.date_field :date %>
    <%= f.label :weight%>:
    <%= f.number_field :weight%><br />

    <%= f.submit %>
<% end %>